/* navigation bar */

.navbar {
  background-color: #94ebcd;
  padding: 1% 5%;
}

.nav-link {
  margin: 0 5px;
}

/* Profile section */

#profile {
  padding-top: 3.5%;
}

/* Card */

.card {
  /* border-radius: 20px; */
  overflow: hidden;
  background-color: white;
}

.card-header {
  background-image: url(https://i.ibb.co/gV8K5t0/frreeelancer.jpg);
  background-size:cover;
  height: 15rem;
}

.card-footer {
  background-color: #94ebcd;
  text-align: center;
}

.card-body {
  background-color: #94ebcd;
}

.profile-picture {
  border-radius: 50px;
  border: 5px solid white;
  overflow: hidden;
  width: 30%;
  margin: -70px 0 30px;
}

.profile-picture img {
  width: 100%;
  height: auto;
  display: block;
}
