<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'blog/tags.css' %}">
    <title>Project Form</title>
    <style>
        /* body{
            display: flex;
            justify-content: center;
            flex-direction: column;
            
        } */
        .head{
            text-align: center;
            background-color:black;
            color:white;
        }
        .bubble{
            background-color:black;
            color:white;
            padding:4px;
            border-radius: 2px;
        }

        body {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }

        .instructions-container {
            margin-left: 50px;
        }
        .form-container{
            width: 400px;
        }
        
    </style>
</head>
<body>
    <div class="form-container">
    <form action="" method="POST">
        {% csrf_token %}
        <h3 class="head">New Project</h3>
        <div class="fields">
        <div><label for="title">Title</label></div>
        <input required type="text" name="title">
    </div>
    <hr>
        <div class="fields">
        <div><label for="description">Description</label></div>
        <textarea required type="text" name="description"></textarea>
    </div>
    <hr>
        <div class="fields">
        <div><label for="duration">Duration</label></div>
        <input required placeholder="In days (Numberic input)" type="text" name="duration">
    </div>
    <hr>
        <div class="fields">
        <div><label for="stipend">Stipend (Based on your Worth!)</label></div>
        <!-- <input type="text" name="stipend"> -->
        <!-- <input type="range" name ="stipend", min = "0", max="{{user_obj.worth}}", onChange="updateTextInput(this.value);"> -->
        <!-- <input name="stipend" id="textInput" value=""> -->

        <div class="range-wrap">
            <input required name="stipend" type="range" class="range" min="0" max="{{user_obj.worth}}" step="5">
            <output class="bubble"></output>
          </div>
    </div>
    <hr>
    <div class="fields">
        <div><label for="category">Category:</label></div>
        <!-- <input type="text" name="stipend"> -->
        <select required name="category" id="">
            <option value="artificial intelligence">Artificial Intelligence</option>
            <option value="development and it">Development and It</option>
            <option value="electronics">Electronics</option>
            <option value="finance and accounting">Finance and Accounting</option>
            <option value="machine learning">Machine Learning</option>
            <option value="sales and marketing">Sales and Marketing</option>
            <option value="content wrting">Content Writing</option>
            <option value="others">Others</option>
          </select>
    </div>
        <div class="fields">
        <div><label for="tags">Tags (Use , to add more than one tag)</label></div>
        <input required type="text" data-role="tagsinput" class="form-control" name="tags">
    </div>
        <div class="fields">
        <!-- <input type="submit"  value="Submit"> -->
        <input type="submit" value="Post Project" class="btn btn-outline-success my-2 my-sm-0">
        <a href="{% url 'my_projects' %}" class="btn btn-outline-primary my-2 my-sm-0">Back</a>

    </div>
    </form>
</div>
<div class="instructions-container">
    <h3>Markdown Instructions:</h3>
    <ul class="list-group">
        <li class="list-group-item">HTML Formatting is enabled for Description</li>
        <li class="list-group-item">If you want to insert a link, Use &lta href="link" &gtLink name to be displayed &lt/a&gt</li>
        <li class="list-group-item">For heading or subheading, use &lth1&gt..&lt/h1&gt, &lth2&gt..&lt/h2&gt, ..... &lth6&gt..&lt/h6&gt, </li>
        <li class="list-group-item">For paragraph, use &ltp&gt....&lt/p&gt</li>
        <li class="list-group-item">Likewise, You can use every HTML tags related to text!</li>
    </ul>
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/static/blog/js/tags_input.js"></script>
    <script>
    $("#post-form").submit(function(e){
        e.preventDefault();
        });

        function updateTextInput(val){
            document.getElementById('textInput').value = val;
        }
        
        
        
        </script>
           <script>
            const allRanges = document.querySelectorAll(".range-wrap");
    allRanges.forEach(wrap => {
      const range = wrap.querySelector(".range");
      const bubble = wrap.querySelector(".bubble");
    
      range.addEventListener("input", () => {
        setBubble(range, bubble);
      });
      setBubble(range, bubble);
    });
    
    function setBubble(range, bubble) {
      const val = range.value;
      const min = range.min ? range.min : 0;
      const max = range.max ? range.max : 100;
      const newVal = Number(((val - min) * 100) / (max - min));
      bubble.innerHTML = val;
    
      // Sorta magic numbers based on size of the native UI thumb
      bubble.style.left = `calc(${newVal}% + (${8 - newVal * 0.15}px))`;
    }

    $('#formid').on('keyup keypress', function(e) {
  var keyCode = e.keyCode || e.which;
  if (keyCode === 13) { 
    e.preventDefault();
    return false;
  }
});
    
        </script>
</body>
</html>
