* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-color: grey;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

nav {
  position: fixed;
  top: 0;
  width: 100vw;
  display: block;
  height: 40px;
  background-color: black;
}
nav ul {
  list-style-type: none;
  height: 100%;
}
nav ul li {
  /* cursor: pointer; */
  padding: 4px;
  display: inline-flex;
  float: left;
  margin-right: 10px;
}
nav ul li a {
  margin-top: 3px;
  border: 1px solid black;
  text-transform: uppercase;
  display: block;
  padding-left: 4px;
  padding-right: 4px;
  color: white;
  text-decoration: none;
  transition: 0.4s all;
}
nav ul li a:hover {
  border-right: 1px solid white;
  border-left: 1px solid white;
  text-decoration: underline;
}
nav ul .right {
  float: right;
}

.searchbar {
  display: block;
  margin-top: 100px;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border-radius: 4px;
  padding: 4px;
}

.latest {
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
  padding: 5px;
  width: 100vw;
  background-color: bisque;
}

.container {
  margin-top: 10px;
  background-color: #ec9829;
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.container .job {
  display: block;
  text-decoration: none;
  text-align: center;
  height: 50%;
  flex-basis: auto;
  border: 1px solid black;
  width: 20%;
  margin: 5px;
}
.container .job .title {
  font-weight: 800;
  margin: 10px 0 10px;
  width: 100%;
  background-color: antiquewhite;
}
.container .job .desc {
  font-size: 0.9em;
  background-color: blanchedalmond;
  margin: 0 0 10px;
}

.categories {
  margin-top: 10px;
  background-color: #00fa00;
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.categories .cats {
  border: 1px solid black;
  margin: 5px;
  height: 20%;
  width: 20%;
  text-align: center;
}
.categories .cats .image {
  width: 100%;
  height: 50%;
  background-color: aqua;
}
.categories .cats .image img {
  width: 100%;
}
.categories .cats .name {
  background-color: brown;
}

.fourth-container {
  height: 50vh;
  background-color: black;
  display: flex;
  justify-content: center;
  font-size: 0.9em;
  font-family: "B612", sans-serif;
}
.fourth-container .first,
.fourth-container .second {
  color: white;
  margin-top: 60px;
}
.fourth-container .first ul,
.fourth-container .second ul {
  list-style-type: none;
}
.fourth-container .first ul li,
.fourth-container .second ul li {
  margin: 6px;
}
.fourth-container .first ul li a,
.fourth-container .second ul li a {
  color: #fff;
}
.fourth-container .first ul hr,
.fourth-container .second ul hr {
  color: white;
  border: 1px solid white;
}
.fourth-container .first ul .footer-heading,
.fourth-container .second ul .footer-heading {
  font-size: 1.2em;
}
.fourth-container .first {
  margin-right: 20px;
}
.fourth-container .second {
  margin-left: 20px;
}

/*# sourceMappingURL=styles.css.map */
