*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: grey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    position: fixed;
    top: 0;
    width: 100vw;
    display: block;
    height: 40px;
    background-color: black;
    ul {
        // margin-top: 2px;
        list-style-type: none;
        height: 100%;
        li {
            /* cursor: pointer; */
            padding: 4px;
            display: inline-flex;
            float: left;
            // /* height: 100%; */
            margin-right: 10px;
            a {
                margin-top: 3px;
                border: 1px solid black;
                text-transform: uppercase;
                display: block;
                padding-left: 4px;
                padding-right: 4px;
                color: white;
                text-decoration: none;
                transition: 0.4s all;
            }
            a:hover {
                border-right: 1px solid white;
                border-left: 1px solid white;
                text-decoration: underline ;
            }
        }
        .right {
            display: flex;
            justify-content: end;
        }
    }
}

.searchbar{
    display: block;
    margin-top: 100px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 4px;
    padding: 4px;
}

.latest{
    font-size: 25px;
    text-align: center;
    margin-top:20px;
    padding: 5px;
    width: 100vw;
    background-color: bisque;

}

.container{
    margin-top: 10px;
    background-color: rgb(236, 152, 41);
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    .job{
       
        text-align: center;
        height: 50%;
        flex-basis: auto;
        border: 1px solid black;
        width: 20%;
        margin: 5px;
        .title{
            font-weight: 800;
            margin: 10px 0 10px;
            width: 100%;
            background-color: antiquewhite;
        }
        .desc{
            font-size: 0.9em;
            background-color: blanchedalmond;
            margin: 0 0 10px;
        }

    }
    
}

.categories{
    margin-top: 10px;
    background-color: rgb(0, 250, 0);
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    .cats{
        border: 1px solid black;
        margin: 5px;
        height: 20%;
        width: 20%;
        text-align: center;
        
        .image{
            width: 100%;
            height: 50%;
            background-color: aqua;
            img{
                width: 100%;
            }
        }
        .name{
            background-color: brown;
        }
    }

}

.fourth-container {
    height: 50vh;
    background-color: black;
    display: flex;
    justify-content: center;
    font-size: 0.9em;
    font-family: 'B612', sans-serif;
    .first,
    .second {
        // border: 1px solid white;
        color: white;
        margin-top: 60px;
        ul {
            list-style-type: none;
            li {
                margin: 6px;
                a {
                    color: #fff;
                }
            }
            hr {
                color: white;
                border: 1px solid white;
            }
            .footer-heading {
                font-size: 1.2em;
            }
        }
    }
    .first {
        margin-right: 20px;
    }
    .second {
        margin-left: 20px;
    }
    // .middle {
    //     color: white;
    //     align-self: flex-end;
    // }
}



