<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'blog/tags.css' %}">
    <title>Project Form</title>
    <style>
        /* body{
            display: flex;
            justify-content: center;
            flex-direction: column;
            
        } */
        .head{
            text-align: center;
            background-color:black;
            color:white;
        }
        
    </style>
</head>
<body>
    <div class="form-container">
    <form action="" method="POST">
        {% csrf_token %}
        <h3 class="head">New Project</h3>
        <div class="fields">
        <div><label for="title">Title</label></div>
        <input type="text" name="title">
    </div>
        <div class="fields">
        <div><label for="description">Description</label></div>
        <input type="text" name="description">
    </div>
        <div class="fields">
        <div><label for="duration">Duration</label></div>
        <input type="text" name="duration">
    </div>
        <div class="fields">
        <div><label for="stipend">Stipend</label></div>
        <!-- <input type="text" name="stipend"> -->
        <input type="range" name ="stipend", min = "0", max="{{user_obj.worth}}", onChange="updateTextInput(this.value);">
        <input name="stipend" id="textInput" value="">
    </div>
    <div class="fields">
        <div><label for="category">Category:</label></div>
        <!-- <input type="text" name="stipend"> -->
        <select name="category" id="">
            <option value="artificial intelligence">Artificial Intelligence</option>
            <option value="development and it">Development and it</option>
            <option value="electronics">Electronics</option>
            <option value="finance and accounting">Finance and Accounting</option>
            <option value="machine learning">Machine Learning</option>
            <option value="sales and marketing">Sales and Marketing</option>
            <option value="content wrting">Content Writing</option>
            <option value="others">Others</option>
          </select>
    </div>
        <div class="fields">
        <div><label for="tags">Tags (Use TAB to add more than one tag)</label></div>
        <input type="text" data-role="tagsinput" class="form-control" name="tags">
    </div>
        <div class="fields">
        <input type="submit" value="Submit">
    </div>
    </form>
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/static/blog/js/tags_input.js"></script>
    <script>
    $("#post-form").submit(function(e){
        e.preventDefault();
        });

        function updateTextInput(val){
            document.getElementById('textInput').value = val;
        }
        
        
        
        </script>
</body>
</html>
