<!DOCTYPE html>
{% load custom_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  />
    <title>Project</title>
    <style>
      body {
        text-align: justify;
      }
    </style>
</head>
<body>
    <div class="container">
        
        <h1>{{project.title}}</h1>
        <br>
        <h5>Category: {{project.category|title}}</h5>
        <hr>
        <h3>{{project.description|safe}}</h3>
        <br>
        <span>Owner: {{project.owner}}</span>
        <br>
        <span>Duration: {{project.duration}}</span>
        <br>
        <span>Virtual Worth: {{project.stipend}}</span>
        <br>
        <h6>Skills Required: </h6>
        {% for tag in project.tags_requirement.all %}
          <a href="" class="btn btn-dark">#{{tag}}&nbsp;</a>
          {% endfor %}
          <br>
          <br>
          
          {% block content %}

          {% endblock %}

    </div>
    
</body>
</html>