<!DOCTYPE html>
<html lang="en">
<head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rating</title>
    <style>
.range-wrap {
    width: 40%;
  /* position: relative; */
  /* margin: 0 auto 3rem; */
}
.range {
  width: 100%;
}
.bubble {
  background: rgb(255, 238, 0);
  color: rgb(0, 0, 0);
  padding: 4px 12px;
  /* position: absolute; */
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
  margin-left: 20px;

}
.bubble::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  background: rgb(255, 238, 0);
  top: -1px;
  left: 50%;

}

body {
  margin: 2rem;
}



    </style>
</head>
<body>
    <h1>Project Review</h1>
    <hr>
   
    <form action="" method="post">
        {% csrf_token %}
        <label for="">Rate the work:</label>
        <br>
        <div class="range-wrap">
            <input required name="rating" type="range" class="range" min="0" max="5" step="0.1">
            <output class="bubble"></output>
          </div>
        <br>
        <label for="">Review:</label>
        <br>
        <textarea required name="review" id="" cols="30" rows="10"></textarea>
        
        <br>
        <input type="submit" class="btn btn-outline-success my-2 my-sm-0" value="Submit">
        <a href="{% url 'my_projects' %}" class="btn btn-outline-success my-2 my-sm-0">Back</a>
    </form>

    <script>
        const allRanges = document.querySelectorAll(".range-wrap");
allRanges.forEach(wrap => {
  const range = wrap.querySelector(".range");
  const bubble = wrap.querySelector(".bubble");

  range.addEventListener("input", () => {
    setBubble(range, bubble);
  });
  setBubble(range, bubble);
});

function setBubble(range, bubble) {
  const val = range.value;
  const min = range.min ? range.min : 0;
  const max = range.max ? range.max : 100;
  const newVal = Number(((val - min) * 100) / (max - min));
  bubble.innerHTML = val;

  // Sorta magic numbers based on size of the native UI thumb
  bubble.style.left = `calc(${newVal}% + (${8 - newVal * 0.15}px))`;
}

    </script>
    
</body>
</html>