<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <title>Document</title>
    <style>
        body {
            padding:20px;
        }
    </style>
</head>
<body>
    <div class="container">
    <h4>Why do you think you are fit for this role?(Please answer this question carefully)</h4>
    {{q_user_obj.Q1}}
    <hr>
    <h4>Are you available for the time mentioned?</h4>
    {{q_user_obj.Q2}}
    <hr>
    <a href="{{q_user_obj.resume.url}}" target = "_blank" class="btn btn-outline-info my-2 my-sm-0">Candidate's Resume</a>
    <br>
    <br>
    <a href="{% url 'my_projects' %}" class="btn btn-outline-primary my-2 my-sm-0">Back</a>
</div>
</body>
</html>