<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
    <h4>Why do you think you are fit for this role?(Please answer this question carefully)</h4>
    {{q_user_obj.Q1}}
    <hr>
    <h4>Are you available for the time mentioned?</h4>
    {{q_user_obj.Q2}}
    <hr>
    <a href="{{q_user_obj.resume.url}}">Candidate's Resume</a>
</div>
</body>
</html>