<!DOCTYPE html>
<html lang="en">
  {% load static %}
  {% load custom_tags %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{user.username}}</title>
    <link
      href="http://netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
      integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{% static 'After Login/styles.css' %}" />
    <style>
      .searchbar {
        position: relative !important;
        display: block;
        margin-top: 100px;
        margin-bottom: 50px;
        border: 2px solid black;
        margin-left: auto;
        margin-right: auto;
        width: 35%;
        border-radius: 4px;
        padding: 4px;
        height: 40px;
        background: url("{% static 'images/search.png' %}") no-repeat scroll 4px
          6px;
        padding-left: 40px;
      }

      .s {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
      }
      .s .sbtn {
        position: relative;
        align-self: center;
        justify-self: center;
        margin-top: -30px;
        width: 100px;
        padding: 5px;
        background-color: rgb(22, 119, 35);
        color: white;
        margin-left: 46%;
        margin-right: auto;
      }
      .s .sbtn:active {
        color: white;
        background-color: rgb(7, 185, 22);
        padding: 2px;
        border-top: 5px solid rgb(7, 185, 22);
        border-bottom: 5px solid rgb(7, 185, 22);
      }

      .searchbar::placeholder {
        position: relative;
        font-size: 20px;
      }

      .searchbar:focus {
        border: 3px solid black;
      }
      .filter-container {
        display: inline-block;
        float: left;
        font-size: 20px;
        font-family: sans-serif;
      }

      .latest-text{
        text-align: center;
        display: inline-block;
        margin-left: -170px;
      }
    </style>
  </head>
  <body>


    <nav
      class="navbar navbar-expand-lg navbar-light navbar-custom"
      style="z-index: 4; background-color: black; position: fixed; width: 100%"
    >
      <a class="navbar-brand navbar-color" style="color: white" href="#"
        >COLLABTREE</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#NavbarCollapsedContent"
        aria-controls="NavbarCollapsedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span
          style="background-color: white"
          class="navbar-toggler-icon"
        ></span>
      </button>

      <div
        class="collapse navbar-collapse"
        style="background-color: black"
        id="NavbarCollapsedContent"
      >
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a
              class="nav-link active"
              style="color: white"
              href="{% url 'profile' %}"
              >About Me</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-color" style="color: white" href="{% url 'dashboard' %}"
              >Dashboard</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link navbar-color"
              style="color: white"
              href="{% url 'my_projects' %}"
              >My Projects</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link navbar-color"
              style="color: white"
              href="{% url 'blogs' %}"
              >Blogs</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-color" style="color: white" href="#"
              >Messages</a
            >
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" method="get">
          {% csrf_token %}
          <input
            class="form-control mr-sm-2"
            type="search"
            name="search_input"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Search
          </button>
        </form>
      </div>
    </nav>

    <ul class="messages">
      {% for message in messages %}
      <li>
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Well done!</h4>
        <p>A notification to you {{user.username}}</p>
        <hr>
        <p class="mb-0"><a href="{% url 'view_project' message.proj_id %}">{{ message.message}}</a></p>
      </div>
    </li>
      {% endfor %}
    </ul>  
   

    <div class="s">
      <form action="" method="get">
      <input placeholder="search" name="search_input" type="text" class="searchbar" />
    

    <button type="submit" class="sbtn">Search</button>
  </form>

    </div>

    
    <div class="latest"><span class="latest-text">{{search_message | title}}</span>
    <span class="filter-container">
      <form action="" method="get">
        <select name="filter" id="">
          <option value="default">Filter</option>
          <option value="latest">Latest</option>
          <option value="stipend">stipend</option>
          <option value="duration">Duration</option>
          <option value="relavent">Relavence</option>
        </select>
        <input type="submit" value="GO">
      </form>
    </span>
  </div>
    {% if message %}
    <center>Results for '{{message}}'</center>
    {% endif %}

    <div class="container">
      {% for project in project_objects %}
      
      <div class="job">
        <div class="title">{{ project.title }}</div>
        <div class="desc">{{ project.description }}</div>
        <br>
        <a href="{% url 'view_project' project.id %}">View</a>
        <div class = "tags-container">
          {% for tag in project.tags_requirement.all %}
          <a href="">#{{tag}}&nbsp;</a>
          {% endfor %}
        </div>

        <form action="" method="post">
          {% csrf_token %}
          <input
          style = "display: none;"
          type="text"
          placeholder="Enter title"
          name="project_title"
          value="{{project.id}}"/>
       
        {% comment %} <!-- {% for user in project.applied_users.all %} --> {% endcomment %}
             {% check_user project.applied_users.all curr_user as flag %}
             

             {% ifequal flag "found" %}
             <input type="submit" value="Applied" disabled>
            
             {% else %}
             <input type="submit" value="Apply" >
             {% endifequal %}
          {% comment %} <!-- {% endfor %} --> {% endcomment %}
        </form>
      </div>
      {% endfor %}
    </div>
    

    <div class="latest">Categories</div>

    <div class="categories">
      <a href="#" class="cats">
        <div class="image">
          <img src="{% static 'images/comp.jpg' %}" alt="" srcset="" />
        </div>
        <form  method="get">
          {% csrf_token %}
          <input
            class="form-control mr-sm-2"
            type="search"
            name="category_search_input"
            placeholder="Search"
            aria-label="Search"
            value="development and it"
            style="display: none;"
          />  
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Development and IT
          </button>
        </form>
        
        <!-- <div class="name">Development and IT</div> -->
      </a>
      <a href="#" class="cats">
        <div class="image">
          <img src="{% static 'images/AI.jpg' %}" alt="" srcset="" />
        </div>
        <form  method="get">
          {% csrf_token %}
          <input
            class="form-control mr-sm-2"
            type="search"
            name="category_search_input"
            placeholder="Search"
            aria-label="Search"
            value="artificial intelligence"
            style="display: none;"
          />  
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Artificial Intelligence
          </button>
        </form>
        <!-- <div class="name">Artificial Intelligence</div> -->
      </a>
      <a href="#" class="cats">
        <div class="image">
          <img src="{% static 'images/chip.jpg' %}" alt="" srcset="" />
        </div>
        <form  method="get">
          {% csrf_token %}
          <input
            class="form-control mr-sm-2"
            type="search"
            name="category_search_input"
            placeholder="Search"
            aria-label="Search"
            value="electronics"
            style="display: none;"
          />  
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Electronics
          </button>
        </form>
      </a>
      <a href="#" class="cats">
        <div class="image">
          <img src="{% static 'images/finance.jpg' %}" alt="" />
        </div>
        <form  method="get">
          {% csrf_token %}
          <input
            class="form-control mr-sm-2"
            type="search"
            name="category_search_input"
            placeholder="Search"
            aria-label="Search"
            value="finance and accounting"
            style="display: none;"
          />  
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Finance and Accounting
          </button>
        </form>
        <!-- <div class="name"></div> -->
      </a>
      <a href="#" class="cats">
        <div class="image">
          <img src="{% static 'images/ML.jpg' %}" alt="" srcset="" />
        </div>
        <form  method="get">
          {% csrf_token %}
          <input
            class="form-control mr-sm-2"
            type="search"
            name="category_search_input"
            placeholder="Search"
            aria-label="Search"
            value="machine learning"
            style="display: none;"
          />  
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Machine Learning
          </button>
        </form>
        <!-- <div class="name"></div> -->
      </a>
      <a href="#" class="cats">
        <div class="image">
          <img src="{% static 'images/marketing.jpg' %}" alt="" srcset="" />
        </div>
        <form  method="get">
          {% csrf_token %}
          <input
            class="form-control mr-sm-2"
            type="search"
            name="category_search_input"
            placeholder="Search"
            aria-label="Search"
            value="sales and marketing"
            style="display: none;"
          />  
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Sales and Marketing
          </button>
        </form>
        <!-- <div class="name"></div> -->
      </a>
      <a href="#" class="cats">
        <div class="image">
          <img src="{% static 'images/content.jpg' %}" alt="" srcset="" />
        </div>
        <form  method="get">
          {% csrf_token %}
          <input
            class="form-control mr-sm-2"
            type="search"
            name="category_search_input"
            placeholder="Search"
            aria-label="Search"
            value="content writing"
            style="display: none;"
          />  
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Content Writing
          </button>
        </form>
        <!-- <div class="name"></div> -->
      </a>
      <a href="#" class="cats">
        <div class="image">
          <img src="{% static 'images/more.png' %}" alt="" srcset="" />
        </div>
        <form  method="get">
          {% csrf_token %}
          <input
            class="form-control mr-sm-2"
            type="search"
            name="category_search_input"
            placeholder="Search"
            aria-label="Search"
            value="other"
            style="display: none;"
          />  
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Other
          </button>
        </form>
        <!-- <div class="name"></div> -->
      </a>
    </div>

    <footer class="fourth-container">
      <div class="first">
        <ul>
          <li class="footer-heading">Company</li>
          <hr />
          <li><a href="#">About Us</a></li>
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Trust, Safety & Security</a></li>
        </ul>
      </div>
      <div class="second">
        <ul>
          <li class="footer-heading">Resources</li>
          <hr />
          <li><a href="#">Resources</a></li>
          <li><a href="#">Customer Support</a></li>
          <li><a href="#">Customer Stories</a></li>
          <li><a href="#">Upwork Reviews</a></li>
        </ul>
      </div>
      
    </footer>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script>
      $(document).ready(function () {
        $(".toast").toast("show");
      });
      

      function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
      }

      window.onclick = function (event) {
        if (!event.target.matches(".dropbtn")) {
          var dropdowns = document.getElementsByClassName("dropdown-content");
          var i;
          for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains("show")) {
              openDropdown.classList.remove("show");
            }
          }
        }
      };
      
      
    </script>
  </body>
</html>
