<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions</title>
</head>
<body>
    <div class="modal-container">
      <form action="" method="POST">
        {% csrf_token %}
        <input
          style = "display: none;"
          type="text"
          placeholder="Enter title"
          name="project_title"
          value="{{project_id}}"
        />
        <label for="q1">Why do you think you are fit for this role?(Please answer this question carefully)</label>
        <input type="text" name="a1">
        <label for="q2">Are you available for the time mentioned?</label>
        <input type="text" name="a2">
        <input type="submit" value="Apply" >
        <input type="button" value="Close" class="closee">
      </form>
    </div>
    <script>
    //     const applyBtn = document.querySelector(".apply-btn");
    //   const container = document.querySelector(".modal-container");
    //   const closeBtn = document.querySelector(".closee");
    //   applyBtn.addEventListener("click",function(){
    //     container.classList.add("showw");
    //   });
    //   closeBtn.addEventListener("click", function(){
    //     container.classList.remove("showw");
    //   });
    </script>
</body>
</html>