<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP</title>
    <link rel="stylesheet" href="{% static 'Authentication Form/styles.css' %}">
</head>
<body>
    <h1 class="heading">Enter OTP</h1>
    <div class="container">
    <form action="" method="post">
        {% csrf_token %}
        <label for="email" class="email" > &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; Enter OTP:</label>
        <br>
        <input type="text" name="otp" placeholder="OTP">
        <br>
        <label for="email" class="email" > &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; {{message}} </label>
        <br>
        <input type="submit" value="Submit" class="btn">

    </form>
    
    <!-- <p class="recommen">New here? <a href="Sign_Up.html" class="signup">signup</a> </p> -->
    <form action="" method="get">
        {% csrf_token %}
    <input type="submit" name="send_again" value="Messed Up? We'll send again">
    <!-- <p class="recommen">Messed Up? We'll <a href="#"> Send Again</a> </p> -->
</form>


</div>
</body>
</html>